#head{
    border: 1px solid black;
    background-color: lightblue;
}
#first{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding: 23px 0px;
    width: 30%;
    height: 120%;
    background-color: gray;
    
}
#second{
    display: inline-block;
    border: 1px solid black;
    width: 69%;
    float: right;
    height: 128%;
    background-color: aqua;
    margin-right: 6px;
    
    
}
#data{
    background-color: green;
}
#body{
    background-color: blue;
}
#email{
    background-color: green;
}
npm install -g firebase-tools