*{
    border: 0px;
    padding: 0px;
}
#head{
    border: 1px solid black;
    background-color: rgb(158, 158, 161);
}
#about{
    display: inline-block;
    border: 1px solid black;
    width: 30%;
    background-color: aliceblue;
}
#title{
    display: inline-block;
    border:1px solid black;
    width: 69%;
    margin-bottom: 9px;
    background-color: aliceblue;
    padding-top: 18;
}
a{
    font-style: italic;
}
#data{
    background-color: green;
}
