*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 42px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 70px;
    margin-top: 20px
}

.menu{
    width: 400px;
    float: left;
    height: 80px;
    position: fixed;
    z-index: 1;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #6d6464; */
}

ul li{
    list-style: none;
    margin-left: 82px;
    margin-top: 17px;
    font-size: 15px;
    font-style: italic;
}

ul li a{
    text-decoration: none;
    color: #141313;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 300px;
    float: left;
    margin-left: 250px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}
::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
.image{
    position: absolute;
    top: 200px;
    right: 100px;

}
.img{
    /* border:1px solid rgb(224, 213, 213); */
    border-radius: 60px;
    width: 250px;
    height: 300px;
    
}
.img:hover{
    box-shadow:4px 5px 10px  #0e0d0d;
    transition: 0.2s;
}
.dot{
    position: absolute;
    top: 88%;
    right: 45%;
}
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  

/* about */
#about{
        width: 100%;
        background: linear-gradient(to top, rgba(153, 148, 148, 0.5) url(1.jpg));
        background-position: center;
        background-size: cover;
        height: 100vh;
        position: relative;
    }
.first{
    position: absolute;
    top: 113%;
    left: 5%;
}    

.first h1{
    font-size: 50px;
    font-style: italic;
    color:#ff7200;
}
.card1 {
    --font-color: #323232;
    --bg-color: #e0e0e0;
    width: 80%px;
    height: 200px;
    border-radius: 20px;
    background: var(--bg-color);
    /* box-shadow: -9px 9px 18px #5a5a5a, */
                /* 9px -9px 18px #ffffff; */
    display: flex;
    flex-direction: column;
    transition: .4s;
    /* position: relative; */
    position: absolute;
    top: 70px;
    right:10px;
  }
  
  .card1:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .card__img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: blueviolet;
  }
  
  .card__descr-wrapper1 {
    padding: 15px;
    display: grid;
  }
  
  .card__title1 {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 20px;
  }
  
  .card__descr1 {
    color: var(--font-color);
    font-style: italic;
  }
  
  .svg1 {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .card__links1 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }
  
  .card__links1.link1 {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }
  
  .card__links1.link1:hover {
    text-decoration: underline;
  }
  .second{
    position: absolute;
    top: 154%;
    left: 5%;
}    

.second h1{
    font-size: 50px;
    font-style: italic;
    color:#ff7200;
}
.card2 {
    --font-color: #323232;
    --bg-color: #e0e0e0;
    width: 55%;
    height: 200px;
    border-radius: 20px;
    background: var(--bg-color);
    /* box-shadow: -9px 9px 18px #5a5a5a, */
                /* 9px -9px 18px #ffffff; */
    display: flex;
    flex-direction: column;
    transition: .4s;
    /* position: relative; */
    
   
  }
  
  .card2:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .card__img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: blueviolet;
  }
  
  .card__descr-wrapper2 {
    padding: 15px;
    display: grid;
  }
  
  .card__title2 {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 20px;
  }
  
  .card__descr2 {
    color: var(--font-color);
    font-style: italic;
  }
  
  .svg2 {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .card__links2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }
  
  .card__links2 .link2 {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }
  
  .card__links2 .link2:hover {
    text-decoration: underline;
  }

/* skills */
.skills{
    position: relative;
}

.card {
    width: 70%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 95px;
    left: 76px;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .body {
    padding: 30px;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill-name {
    width: 200px;
    font-size: 25px;
    color: #ff7200;
  }
  
  .skill-level {
    width: 350px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .skill-percent {
    background-color: #333;
    height: 100%;
  }
  
  .skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
  }
  