*{
    border: 0;
    padding: 0;
}
#head{
    width: 100%;
    height: 10%;
    background-color: blue;
    position: relative;
    position: fixed;
    position: sticky;
    top: 0;
    left: 0;
}
#menu{
display: inline-block;


}
li{
    display: inline-block;
    padding: 4px;
}
ul{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0px;
    margin-right: 8px;
}
#tittle{
    width: 10%;
    height: 200px;
    margin:  auto;
    border: 2px solid green;
    /* min-width: 20%; */
    overflow: auto;
    
}
#img{
    width:100%;
    display: inline-block;
    position: relative;
    z-index: 0;
    opacity: 0.8;
    
    
}
#acc{
    display: inline-block;
    position: absolute;
    top: 201px;
    right: 482;
    border: 2px solid greenyellow;
    border-style: calc(100% - 200px);
    padding: 10px;
    z-index:0;
}